apiVersion: v1
kind: ConfigMap
metadata:
  name: traefik-static-conf
  namespace: traefik
data:
  traefik.yaml: |
    entryPoints:
      web:
        address: ":80"
      websecure:
        address: ":443"
    api:
      dashboard: true
    providers:
      kubernetesIngress: {}
