apiVersion: apps/v1
kind: Deployment
metadata:
  name: traefik
  namespace: traefik
  labels:
    app: traefik
spec:
  replicas: 1
  selector:
    matchLabels:
      app: traefik
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-ingress-controller
      containers:
        - name: traefik
          # demo: use 'traefik:latest' or pin a specific version for production
          image: traefik:latest
          args:
            - --api.dashboard=true            # enable dashboard
            - --api.insecure=true             # demo: allow access without auth
            - --entryPoints.web.address=:80
            - --entryPoints.websecure.address=:443
            - --providers.kubernetescrd=true
            - --providers.kubernetesingress=true
            - --log.level=INFO
          ports:
            - name: web
              containerPort: 80
            - name: websecure
              containerPort: 443
            - name: admin
              containerPort: 8080    # Traefik API / Dashboard
